@import url("~@/style/var.less");
.video-chat {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;

  &.clear {
    .mini-video,
    .dialog-box .dialog-list,
    .dialog-box .dialog-action .dialog-send {
      opacity: 0;
      width: 0 !important;
      height: 0 !important;
    }

    .video-container .chat-cell {
      height: 0 !important;
    }
  }
  .pop-content {
    width: 100%;
    height: 100%;
  }

  .btn-next {
    position: fixed;
    bottom: 28px;
    right: 0;
    z-index: 10;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50px 0 0 50px;
    color: #fff;
    padding: 10px 10px 10px 15px;
    .icon-arrow {
      margin-left: 10px;
      transform: scale(-1);
    }

    .txt {
      max-width: 43px;
      overflow: hidden;
    }
  }
  .user-report-pop {
    position: absolute;
    top: 75px;
    left: 70%;
    background: #fff;
    box-shadow: 0px 0px 16px 0px rgb(0 0 0 / 50%);
    border-radius: 12px;
    padding: 15px 10px;
    z-index: 999;

    li {
      min-width: 220px;
      white-space: nowrap;
      height: 40px;
      font-size: 14px;
      cursor: pointer;
    }
    .info {
      min-width: 220px;
      white-space: nowrap;
      height: 130px;
      font-size: 14px;
      border: 1px solid #666464;
      border-radius: 10px;
      overflow: hidden;

      textarea {
        height: 100px;
        color: #000;
      }
    }
    .report {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .email {
      border: 1px solid #666464;
      border-radius: 10px;
      overflow: hidden;
      height: 70px;

      textarea {
        height: 50px;
        color: #000;
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
    }

    .ocell {
      cursor: pointer;
      // transition: all 0.3s;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  .accept-success {
    position: absolute;
    top: 20px;
    left: 50%;
    background: rgba(0, 0, 0.6);
    z-index: 12;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 14px;
    transform: translateX(-50%);
    text-align: center;
    animation: showToast 2s both;
  }
  .accpet-addf {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 11;
    left: 50%;
    height: 100px;
    .inner {
      transform: translateX(-50%);
      background: rgba(0, 0, 0, 0.6);
      padding: 10px 10px 10px 20px;
      border-radius: 40px;
      .m-btn {
        margin-left: 20px;
      }
    }
  }
  .cover-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 2;
    background: #1c172e;

    img {
      width: 100%;
      height: 100%;
      filter: blur(100px);
      opacity: 0.15;
      object-fit: cover;
    }
  }

  .video-times {
    position: absolute;
    top: 25px;
    left: 80px;
    width: 100%;
    font-size: 20px;
    z-index: 10;
    color: #fff;
  }
  .action-btn {
    border-radius: 50%;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      opacity: 0.8;
    }
    &.checked {
      background: #fff;
      color: @cgray-4;
    }

    & > * {
      flex: 1;
      display: inline-block;
    }
  }

  .video-container {
    box-sizing: border-box;
    height: 100%;
    color: #fff;
    position: relative;
    z-index: 10;
  }

  .video-cell {
    flex: 0 0 auto;
    width: 70%;
    position: relative;
    .cancel-video {
      position: fixed;
      left: 25px;
      top: 20px;
      width: 36px;
      height: 36px;
      font-size: 18px;
      z-index: 10;
    }

    .video-setting {
      position: absolute;
      top: 20px;
      right: 10px;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      z-index: 10;
      .action-btn {
        margin-right: 12px;
        width: 36px;
        height: 36px;
        text-align: center;
        font-size: 16px;
      }
    }

    .user-actions {
      position: absolute;
      right: 150px;
      bottom: 30px;
      z-index: 10;
      .action-btn {
        width: 56px;
        height: 56px;
        background-color: transparent;
        text-align: center;
      }
      .thumb-up {
        background: url(~@/assets/img/tumile/icon-ding-2.png) center no-repeat;
        background-size: 48px auto;

        &.ding {
          opacity: 0.6;
          animation: likeAni 0.35s both;
        }
      }
    }

    .coin-info {
      font-size: 16px;
      height: 40px;
      padding: 0 5px 0 20px;
      border-radius: 50px;
      margin-left: 10px;
      position: relative;
      .recharge-pop {
        position: absolute;
        bottom: 56px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        font-size: 12px;
        background: #000;
        padding: 10px 20px;
        border-radius: 50px;
        &::after {
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          background: #000;
          left: 50%;
          bottom: -10px;
          border-radius: 4px;
          transform: rotate(45deg) translateX(-50%);
        }
        .m-btn {
          margin-left: 10px;
        }
      }

      .recharge-iframe {
        position: absolute;
        bottom: 56px;
        right: -50px;
        width: 360px;
        height: 600px;
        padding: 10px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 12px;
        .icon {
          position: absolute;
          right: 10px;
          top: 10px;
          font-size: 14px;
          padding: 6px;
          background: #000;
          border-radius: 50%;
          &.shop-new {
            background: #fff;
            color: #000;
            right: 10px;
            border: 1px solid #f1f1f1;
          }
        }
        iframe {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .main-video {
    width: 475px;
    height: 100%;
    position: relative;
    background: #313131 url(../../assets/img/video-loading.gif) center
    no-repeat;
    background-size: auto 80px;
    .the-video {
      width: 100%;
      height: 100%;
      overflow: hidden;
   
    }
    .user-detail {
      position: absolute;
      z-index: 8;
      left: 238px;
      bottom: 40px;
      background: rgba(0, 0, 0, 0.62);
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      border-radius: 100px;
      padding: 4px;
      transform: translateX(-50%);
      .avatar-img {
        width: 52px;
        height: 52px;
      }
      .detail {
        flex: 1;
        padding-left: 10px;
        line-height: 1;
        min-width: 120px;
        .country-box {
          display: inline-flex;
          margin-left: 4px;
        }
        .name,
        .small-font {
          max-width: 120px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .name {
          font-size: 14px;
          height: 16px;
          margin-bottom: 2px;
        }
        .small-font {
          opacity: 0.5;
          height: 12px;
          transform-origin: left center;
        }
      }
      .btn-addfriend {
        margin-left: 20px;
        width: 52px;
        height: 52px;
        color: #fff;
        font-size: 14px;
        border-radius: 100%;
        background-image: linear-gradient(-45deg, #00c4b3 0%, #68f6b4 100%);
      }
    }
  }
  .mini-video {
    position: absolute;
    left: 478px;
    top: 0;
    width: 162px;
    height: 270px;
    background: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    .the-time {
      position: absolute;
      z-index: 10;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      padding: 4px 10px;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
    }
    .the-video {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      z-index: 1;
      background: #000;
    }
    .change {
      position: absolute;
      width: 40px;
      height: 40px;
      background: url(../../assets/img/tumile/icon-video-replace.png) center
        no-repeat;
      background-size: 100% auto;
      text-align: center;
      line-height: 40px;
      left: 10px;
      bottom: 10px;
      opacity: 0;
      transition: all 0.3s;
      font-size: 0;
      z-index: 10;
    }
    &:hover .change {
      opacity: 1;
    }
  }

  .chat-cell {
    flex: 1;
    height: 100%;
    display: flex;
    border-left: solid 1px rgba(255, 255, 255, 0.1);
    flex-direction: column;
    padding: 240px 20px 0 0;
    box-sizing: border-box;
    width: 0%;
    .chat-title {
      height: 60px;
      padding: 0 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      .name {
        font-size: 18px;
      }
    }
    .odialog {
      margin: 10px 0 !important;
      &.me {
        flex-direction: row;
        .txt {
          color: #62ffb3 !important;
          border-radius: 12px !important;
        }
      }
      .txt {
        border-radius: 12px !important;
        background: rgb(0 0 0 0.33) !important;
      }
    }
  }
  // 变形
  .dialog-box {
    justify-content: flex-end !important;
    &::after,
    &::before {
      display: none;
    }
    background: transparent;

    .gift-list {
      position: fixed;
      right: 0;
      max-width: 440px;
    }

    .dialog-list {
      padding-bottom: 10px;
      .odialog {
        margin-top: 12px;
        .avatar {
          display: none;
        }
        &.me,
        & {
          .txt {
            max-width: 100%;
          }
        }
      }
    }
    .dialog-action {
      padding-top: 0;
      padding-bottom: 30px;
      border-top: 0;
      .dialog-quick-btn {
        position: fixed;
        bottom: 24px;
        right: 75px;
        width: auto;
        .obtn {
          display: none;
          &.gift {
            display: block;
            .ico {
              background-color: rgba(255, 255, 255, 0.1);
            }
          }
        }
      }
    }
  }
  .quick-gift {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 10px;

    .ogift {
      text-align: center;
      margin: 6px 0;
      img {
        width: 60px;
        height: 60px;
        display: block;
      }
      .coin {
        display: inline-block;
        font-size: 12px;
        padding-left: 14px;
        background: url(~@/assets/img/tumile/icon-s-coin.png) left center
          no-repeat;
        background-size: auto 12px;
      }
    }
  }
}

// 窄屏 样式;
@media screen and(max-width: 1280px) {
  // .video-chat {
  //   padding-left: 20px;
  // }
}

@media screen and(max-width: 1180px) {
  // .video-chat {
  //   .video-cell {
  //     width: auto;
  //   }
  // }
}

@media screen and(max-width: 860px) {
  #app {
    .video-chat {
      &.video-chat-1v1 {
        .video-container {
          .chat-cell {
            padding-right: 70px;
            .dialog-action .dialog-quick-btn {
              right: 74px;
            }
          }
          .video-cell {
            .main-video {
              .user-detail {
                left: 10px;
              }
            }
            .cancel-video {
              left: auto;
              right: 10px;
              .icon-arrow {
                &::before {
                  content: "\e903";
                }
              }
            }
            .video-setting {
              right: 50px;
            }
          }
        }
      }

      .btn-next {
        bottom: 14px;
        padding: 8px 8px 8px 12px;
        background: rgba(0, 0, 0, 0.2);
        margin-bottom: constant(safe-area-inset-bottom);
        margin-bottom: env(safe-area-inset-bottom);
      }

      .video-times {
        width: auto;
        left: 10px;
        top: 50px;
        font-size: 12px;
      }
      .quick-gift {
        display: none;
      }
      .action-btn {
        background-color: rgba(0, 0, 0, 0.2);
      }

      .accept-success {
        font-size: 12px;
        top: 60px;
        border-radius: 20px;
        width: 200px;
      }

      .accpet-addf {
        top: 80px;
        left: 0;
        height: auto;
        .inner {
          transform: translateX(0);
          border-radius: 0 50px 50px 0;
          padding: 4px 4px 4px 20px;
        }
      }
      .video-container {
        .video-cell {
          width: 100%;
          .main-video {
            width: 100%;
            .user-detail {
              left: 50px;
              top: 10px;
              bottom: auto;
              transform: translateX(0);
              padding: 3px;
              background: rgba(0, 0, 0, 0.4);
              .avatar-img {
                width: 30px;
                height: 30px;
              }
              .detail {
                padding-left: 4px;
                .name {
                  font-weight: normal;
                  font-size: 12px;
                  line-height: 1;
                  height: 12px;
                }
              }
              .btn-addfriend {
                width: 30px;
                height: 30px;
                margin-left: 0;
              }
            }
          }
          .mini-video {
            top: 60px;
            right: 10px;
            left: auto;
            width: 118px;
            height: 188px;
            z-index: 1;
            border-radius: 10px;
            overflow: hidden;
            .times {
              padding: 4px 8px;
              font-size: 10px;
              line-height: 1;
            }
          }
          .cancel-video {
            top: 10px;
            left: 10px;
            background-color: rgba(0, 0, 0, 0.25);
            font-size: 16px;
          }
          .video-setting {
            top: 10px;
            right: 0;
            .volume {
              display: none;
            }
          }
          .coin-info {
            width: 0;
            height: 0;

            .recharge-pop {
              left: auto;
              right: 0;
              transform: translate(0);
              &::after {
                left: 88%;
              }
            }
            .btn {
              display: none;
            }
            .recharge-iframe {
              position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;
              border-radius: 20px 20px 0 0;
              padding: 0;
              height: 65vh;
              .icon {
                position: absolute;
                right: 4px;
                top: 10px;
                font-size: 14px;
                padding: 6px;
                background: #000;
                border-radius: 50%;
                &.shop-new {
                  background: #fff;
                  color: #000;
                  right: 10px;
                  border: 1px solid #f1f1f1;
                }
              }
              iframe {
                border-radius: 20px 20px 0 0;
              }
            }
          }
          .user-actions {
            left: auto;
            right: 0;
            bottom: 10px;
            z-index: 20;
            .thumb-up {
              width: 40px;
              height: 40px;
              background-size: 32px auto;
            }
          }
        }
        .chat-cell {
          position: fixed;
          left: 0;
          bottom: 0;
          z-index: 20;
          height: 240px;
          width: 100%;
          background: transparent;
          border-radius: 0;
          padding: 0;
          border: 0;
          padding-bottom: constant(safe-area-inset-bottom);
          padding-bottom: env(safe-area-inset-bottom);

          &.has-system-msg {
            height: 340px;
          }

          .chat-title {
            display: none;
          }

          .dialog-box {
            .dialog-placeholder {
              display: none;
            }
          }
          .dialog-list {
            padding: 0 14px;
            .odialog {
              margin: 8px 0;
              position: relative;
              &.me {
                flex-direction: row;
              }

              .txt {
                margin: 0;
                padding: 6px 12px;
                min-height: auto;
                font-size: 12px;
              }
              .avatar {
                position: absolute;
                left: 6px;
                top: 6px;
                width: 34px;
                height: 34px;
              }
            }
          }

          .dialog-action {
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding: 0 0 10px;
            margin: 0 10px;
            .dialog-quick-btn {
              border: 0;
              bottom: 10px;
              right: 10px;
              padding-bottom: constant(safe-area-inset-bottom);
              padding-bottom: env(safe-area-inset-bottom);

              .gift {
                width: 42px;
                height: 42px;
                .ico {
                  width: 42px;
                  height: 42px;
                  background-color: rgba(0, 0, 0, 0.25);
                }
              }
            }
          }

          .dialog-send {
            border: none;
            height: auto;
            position: relative;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 40px;
            height: 38px;

            .translate {
              left: 6px;
              top: 8px;
              width: 30px;
            }
            .textArea {
              margin: 0 15px 0 0;
            }

            textarea {
              display: inline-block;
              width: auto;
              margin: 0;
              padding: 0 5px;
              line-height: 40px;
              white-space: nowrap;
              height: 40px;
            }
            // .btn-send {
            //   display: none;
            // }
          }
        }
      }
    }
  }
  [lang="ar"],
  [lang="he"],
  [lang="ur"] {
    .video-chat .video-container .video-cell .cancel-video {
      transform: rotate(180deg);
    }
    .video-chat .video-container .video-cell .main-video .user-detail .detail {
      text-align: left;
    }
    .video-chat .video-container .chat-cell .dialog-send .translate {
      left: 6px;
      top: 8px;
      width: 30px;
      margin-right: 10px;
    }
    .video-chat .accpet-addf .inner .m-btn {
      margin-left: 0px;
      margin-right: 20px;
    }
    .video-chat .video-container .video-cell .coin-info .recharge-iframe {
      right: 0;
    }
    #app .video-chat .btn-next {
      right: auto;
      left: 0;
      border-radius: 0 50px 50px 0;
      // padding: 10px 15px 10px 10px;
      .icon-arrow {
        margin-left: 0px;
        margin-right: 10px;
        transform: scale(1);
        padding: 0;
        color: #fff;
        font-size: 14px;
      }
    }

    #app
      .video-chat.video-chat-1v1
      .video-container
      .chat-cell
      .dialog-action
      .dialog-quick-btn {
      left: 75px;
      right: auto;
    }
    #app .video-chat.video-chat-1v1 .video-container .chat-cell {
      padding-right: 0;
      padding-left: 70px;
    }
    #app .video-chat .video-container .chat-cell .dialog-send .textArea {
      margin-right: 0;
    }
  }
}
